In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder

In [58]:
test = pd.read_csv('/SMBC-GREEN-DATA-Challenge/data/test-2.csv') 
train = pd.read_csv('/SMBC-GREEN-DATA-Challenge/data/train-2.csv')

In [59]:
test.describe()

,Unnamed: 0,tree_dbh,borocode,boro_ct,cb_num,st_senate,st_assem,cncldist
count,19702.000000,19702.000000,19702.000000,1.970200e+04,19702.000000,19702.000000,19702.000000,19702.000000
mean,29982.877677,11.600041,3.360319,3.406002e+06,343.219775,20.992945,51.572581,30.215714
std,5767.184780,8.206049,1.223202,1.231092e+06,121.434253,7.208765,18.671359,14.721721
min,19984.000000,1.000000,1.000000,1.000202e+06,101.000000,10.000000,23.000000,1.000000
25%,24983.250000,5.000000,3.000000,3.006200e+06,302.000000,15.000000,32.000000,19.000000
50%,29980.500000,8.000000,4.000000,4.012301e+06,402.000000,22.000000,55.000000,31.000000
75%,34982.750000,17.000000,4.000000,4.115100e+06,413.000000,25.000000,64.000000,44.000000
max,39968.000000,44.000000,5.000000,5.031902e+06,503.000000,36.000000,87.000000,51.000000

In [60]:
df = pd.concat([train, test], axis=0, sort=False)

In [61]:
df.isnull().sum()

Unnamed: 0        0
created_at        0
tree_dbh          0
curb_loc          0
health        19702
steward       29409
guards        29510
sidewalk          0
user_type         0
problems      24288
spc_common        0
spc_latin         0
nta               0
nta_name          0
borocode          0
boro_ct           0
boroname          0
zip_city          0
cb_num            0
st_senate         0
st_assem          0
cncldist          0
dtype: int64

In [62]:
train.isnull().sum()

Unnamed: 0        0
created_at        0
tree_dbh          0
curb_loc          0
health            0
steward       14883
guards        14943
sidewalk          0
user_type         0
problems      12243
spc_common        0
spc_latin         0
nta               0
nta_name          0
borocode          0
boro_ct           0
boroname          0
zip_city          0
cb_num            0
st_senate         0
st_assem          0
cncldist          0
dtype: int64

In [63]:
test.isnull().sum()

Unnamed: 0        0
created_at        0
tree_dbh          0
curb_loc          0
steward       14526
guards        14567
sidewalk          0
user_type         0
problems      12045
spc_common        0
spc_latin         0
nta               0
nta_name          0
borocode          0
boro_ct           0
boroname          0
zip_city          0
cb_num            0
st_senate         0
st_assem          0
cncldist          0
dtype: int64

In [64]:
train['steward'].value_counts()

steward
1or2       3999
3or4       1079
4orMore      23
Name: count, dtype: int64

In [65]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19984 entries, 0 to 19983
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19984 non-null  int64
 1   created_at  19984 non-null  object
 2   tree_dbh    19984 non-null  int64
 3   curb_loc    19984 non-null  object
 4   health      19984 non-null  int64
 5   steward     5101 non-null   object
 6   guards      5041 non-null   object
 7   sidewalk    19984 non-null  object
 8   user_type   19984 non-null  object
 9   problems    7741 non-null   object
 10  spc_common  19984 non-null  object
 11  spc_latin   19984 non-null  object
 12  nta         19984 non-null  object
 13  nta_name    19984 non-null  object
 14  borocode    19984 non-null  int64
 15  boro_ct     19984 non-null  int64
 16  boroname    19984 non-null  object
 17  zip_city    19984 non-null  object
 18  cb_num      19984 non-null  int64
 19  st_senate   19984 non-null  int64
 20  st_assem    19984 non-null  int64
 21  cncldist    19984 non-null  int64
dtypes: int64(9), object(13)
memory usage: 3.4+ MB

In [66]:
df["steward"] = df["steward"].fillna("Unsure")

In [67]:
df["guards"].value_counts()

guards
Helpful    7366
Unsure     1490
Harmful    1320
Name: count, dtype: int64

In [68]:
df["guards"] = df["guards"].fillna("Unsure")

In [55]:
df["problems"].value_counts()

problems
Stones                                  4455
BranchLights                            2045
StonesBranchLights                      1529
BranchOther                              793
RootOther                                717
                                        ...
StonesTrunkLightsBranchLights             15
StonesRootOtherTrunkOtherBranchOther      15
RootOtherWiresRopeTrunkLights             12
TrunkLightsBranchLightsBranchOther        12
WiresRopeTrunkLightsBranchLights           9
Name: count, Length: 73, dtype: int64

In [70]:
df = pd.get_dummies(df, columns=['steward','guards'], drop_first=False, dtype = int)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39686 entries, 0 to 19701
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       39686 non-null  int64
 1   created_at       39686 non-null  object
 2   tree_dbh         39686 non-null  int64
 3   curb_loc         39686 non-null  object
 4   health           19984 non-null  float64
 5   sidewalk         39686 non-null  object
 6   user_type        39686 non-null  object
 7   problems         15398 non-null  object
 8   spc_common       39686 non-null  object
 9   spc_latin        39686 non-null  object
 10  nta              39686 non-null  object
 11  nta_name         39686 non-null  object
 12  borocode         39686 non-null  int64
 13  boro_ct          39686 non-null  int64
 14  boroname         39686 non-null  object
 15  zip_city         39686 non-null  object
 16  cb_num           39686 non-null  int64
 17  st_senate        39686 non-null  int64
 18  st_assem         39686 non-null  int64
 19  cncldist         39686 non-null  int64
 20  steward_1or2     39686 non-null  int64
 21  steward_3or4     39686 non-null  int64
 22  steward_4orMore  39686 non-null  int64
 23  steward_Unsure   39686 non-null  int64
 24  guards_Harmful   39686 non-null  int64
 25  guards_Helpful   39686 non-null  int64
 26  guards_Unsure    39686 non-null  int64
dtypes: float64(1), int64(15), object(11)
memory usage: 8.5+ MB

In [72]:
df.head()

,Unnamed: 0,created_at,tree_dbh,curb_loc,health,sidewalk,user_type,problems,spc_common,spc_latin,...,st_senate,st_assem,cncldist,steward_1or2,steward_3or4,steward_4orMore,steward_Unsure,guards_Harmful,guards_Helpful,guards_Unsure
0,0,2015-06-29,14,OnCurb,1.0,Damage,Volunteer,NaN,English oak,Quercus robur,...,11,25,23,0,0,0,1,0,0,1
1,1,2016-09-21,5,OnCurb,1.0,NoDamage,Volunteer,NaN,crimson king maple,Acer platanoides 'Crimson King',...,33,78,15,0,1,0,0,0,1,0
2,2,2015-09-13,26,OnCurb,2.0,NoDamage,Volunteer,StonesBranchLights,English oak,Quercus robur,...,24,62,51,0,0,0,1,0,0,1
3,3,2016-05-09,15,OnCurb,0.0,Damage,NYC Parks Staff,NaN,honeylocust,Gleditsia triacanthos var. inermis,...,24,62,51,0,0,0,1,0,0,1
4,4,2016-06-24,23,OnCurb,1.0,NoDamage,Volunteer,Stones,London planetree,Platanus x acerifolia,...,30,70,9,0,0,0,1,0,0,1

In [92]:
df.loc[df["Unnamed: 0"]==0, ["nta","nta_name","borocode","boro_ct","cb_num","st_senate","st_assem","cncldist"]]

,nta,nta_name,borocode,boro_ct,cb_num,st_senate,st_assem,cncldist
0,QN45,Douglas Manor-Douglaston-Little Neck,4,4152901,411,11,25,23

In [93]:
df = df.drop(["nta","nta_name","boroname","zip_city"], axis=1)

In [95]:
df["created_at"] = pd.to_datetime(df["created_at"])

In [97]:
df["curb_loc"].value_counts()

curb_loc
OnCurb            37270
OffsetFromCurb     2416
Name: count, dtype: int64

In [98]:
df["sidewalk"].value_counts()

sidewalk
NoDamage    21177
Damage      18509
Name: count, dtype: int64

In [99]:
df["user_type"].value_counts()

user_type
Volunteer           22298
TreesCount Staff    11357
NYC Parks Staff      6031
Name: count, dtype: int64

In [100]:
df = pd.get_dummies(df, columns=['curb_loc','sidewalk','user_type'], drop_first=False, dtype = int)

In [139]:
df["year"] = df["created_at"].dt.year
df["month"] = df["created_at"].dt.month
df = df.drop(["created_at"], axis=1)

In [141]:
df = df.drop(["Unnamed: 0"], axis=1)

In [144]:
df_1 = df.drop(["problems","spc_common","spc_latin"], axis=1)

In [179]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39686 entries, 0 to 19701
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tree_dbh                    39686 non-null  int64
 1   health                      19984 non-null  float64
 2   borocode                    39686 non-null  int64
 3   boro_ct                     39686 non-null  int64
 4   cb_num                      39686 non-null  int64
 5   st_senate                   39686 non-null  int64
 6   st_assem                    39686 non-null  int64
 7   cncldist                    39686 non-null  int64
 8   steward_1or2                39686 non-null  int64
 9   steward_3or4                39686 non-null  int64
 10  steward_4orMore             39686 non-null  int64
 11  steward_Unsure              39686 non-null  int64
 12  guards_Harmful              39686 non-null  int64
 13  guards_Helpful              39686 non-null  int64
 14  guards_Unsure               39686 non-null  int64
 15  curb_loc_OffsetFromCurb     39686 non-null  int64
 16  curb_loc_OnCurb             39686 non-null  int64
 17  sidewalk_Damage             39686 non-null  int64
 18  sidewalk_NoDamage           39686 non-null  int64
 19  user_type_NYC Parks Staff   39686 non-null  int64
 20  user_type_TreesCount Staff  39686 non-null  int64
 21  user_type_Volunteer         39686 non-null  int64
 22  year                        39686 non-null  int32
 23  month                       39686 non-null  int32
dtypes: float64(1), int32(2), int64(21)
memory usage: 8.3 MB

In [180]:
data1_train = df_1[:len(train)]
data1_test = df_1[len(train):].drop(["health"], axis=1)

In [181]:
y1_train = data1_train["health"]
X1_train = data1_train.drop(["health"], axis=1)
X1_test = data1_test

In [182]:
from sklearn.ensemble import RandomForestClassifier

#ランダムフォレストのパラメータ指定（デフォルト）
clf = RandomForestClassifier()
clf.fit(X1_train, y1_train)
y1_test = clf.predict(X1_test)

In [183]:
result = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y1_test})

In [184]:
result["health"] = result["health"].astype(int)
result.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission3.csv", index=False, header=False)

result.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       1

In [185]:
# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X1_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.20449589820224087
borocode: 0.2546716693769883
boro_ct: 0.05465041491828638
cb_num: 0.04630527540468209
st_senate: 0.07514872801304101
st_assem: 0.05643841231716665
cncldist: 0.007735263000522127
steward_1or2: 0.010639656270961481
steward_3or4: 0.001187789979167855
steward_4orMore: 0.011379612420646312
steward_Unsure: 0.024525089419345315
guards_Harmful: 0.023749034544368098
guards_Helpful: 0.01985784133724383
guards_Unsure: 0.020535895468763804
curb_loc_OffsetFromCurb: 0.02245629691907955
curb_loc_OnCurb: 0.0305766376428001
sidewalk_Damage: 0.1356464847646962

In [152]:
df_2 = df.drop(["spc_common","spc_latin"], axis=1)

In [157]:
df_2["problems"] = df["problems"].fillna(df["problems"].mode()[0])

In [158]:
df_2 = pd.get_dummies(df_2, columns=['problems'], drop_first=False, dtype = int)

In [159]:
data2_train = df_2[:len(train)]
data2_test = df_2[len(train):].drop(["health"], axis=1)

In [160]:
y2_train = data2_train["health"]
X2_train = data2_train.drop(["health"], axis=1)
X2_test = data2_test

In [161]:
from sklearn.ensemble import RandomForestClassifier

#ランダムフォレストのパラメータ指定（デフォルト）
clf = RandomForestClassifier()
clf.fit(X2_train, y2_train)
y2_test = clf.predict(X2_test)

In [163]:
result2 = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y2_test})

In [164]:
result2["health"] = result2["health"].astype(int)
result2.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission4.csv", index=False, header=False)

result2.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       1

In [166]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39686 entries, 0 to 19701
Data columns (total 97 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   tree_dbh                                                            39686 non-null  int64
 1   health                                                              19984 non-null  float64
 2   borocode                                                            39686 non-null  int64
 3   boro_ct                                                             39686 non-null  int64
 4   cb_num                                                              39686 non-null  int64
 5   st_senate                                                           39686 non-null  int64
 6   st_assem                                                            39686 non-null  int64
 7   cncldist                                                            39686 non-null  int64
 8   steward_1or2                                                        39686 non-null  int64
 9   steward_3or4                                                        39686 non-null  int64
 10  steward_4orMore                                                     39686 non-null  int64
 11  steward_Unsure                                                      39686 non-null  int64
 12  guards_Harmful                                                      39686 non-null  int64
 13  guards_Helpful                                                      39686 non-null  int64
 14  guards_Unsure                                                       39686 non-null  int64
 15  curb_loc_OffsetFromCurb                                             39686 non-null  int64
 16  curb_loc_OnCurb                                                     39686 non-null  int64
 17  sidewalk_Damage                                                     39686 non-null  int64
 18  sidewalk_NoDamage                                                   39686 non-null  int64
 19  user_type_NYC Parks Staff                                           39686 non-null  int64
 20  user_type_TreesCount Staff                                          39686 non-null  int64
 21  user_type_Volunteer                                                 39686 non-null  int64
 22  year                                                                39686 non-null  int32
 23  month                                                               39686 non-null  int32
 24  problems_BranchLights                                               39686 non-null  int64
 25  problems_BranchLightsBranchOther                                    39686 non-null  int64
 26  problems_BranchOther                                                39686 non-null  int64
 27  problems_MetalGrates                                                39686 non-null  int64
 28  problems_MetalGratesBranchOther                                     39686 non-null  int64
 29  problems_MetalGratesRootOtherBranchOther                            39686 non-null  int64
 30  problems_MetalGratesRootOtherTrunkOther                             39686 non-null  int64
 31  problems_MetalGratesTrunkOther                                      39686 non-null  int64
 32  problems_MetalGratesTrunkOtherBranchOther                           39686 non-null  int64
 33  problems_MetalGratesWiresRope                                       39686 non-null  int64
 34  problems_RootOther                                                  39686 non-null  int64
 35  problems_RootOtherBranchLights                                      39686 non-null  int64
 36  problems_RootOtherBranchLightsBranchOther                           39686 non-null  int64
 37  problems_RootOtherBranchOther                                       39686 non-null  int64
 38  problems_RootOtherTrunkLightsBranchOther                            39686 non-null  int64
 39  problems_RootOtherTrunkOther                                        39686 non-null  int64
 40  problems_RootOtherTrunkOtherBranchLights                            39686 non-null  int64
 41  problems_RootOtherTrunkOtherBranchLightsBranchOther                 39686 non-null  int64
 42  problems_RootOtherTrunkOtherBranchOther                             39686 non-null  int64
 43  problems_RootOtherWiresRope                                         39686 non-null  int64
 44  problems_RootOtherWiresRopeBranchLights                             39686 non-null  int64
 45  problems_RootOtherWiresRopeBranchLightsBranchOther                  39686 non-null  int64
 46  problems_RootOtherWiresRopeBranchOther                              39686 non-null  int64
 47  problems_RootOtherWiresRopeTrunkLights                              39686 non-null  int64
 48  problems_RootOtherWiresRopeTrunkOther                               39686 non-null  int64
 49  problems_RootOtherWiresRopeTrunkOtherBranchLights                   39686 non-null  int64
 50  problems_RootOtherWiresRopeTrunkOtherBranchOther                    39686 non-null  int64
 51  problems_Stones                                                     39686 non-null  int64
 52  problems_StonesBranchLights                                         39686 non-null  int64
 53  problems_StonesBranchLightsBranchOther                              39686 non-null  int64
 54  problems_StonesBranchOther                                          39686 non-null  int64
 55  problems_StonesMetalGrates                                          39686 non-null  int64
 56  problems_StonesMetalGratesBranchLights                              39686 non-null  int64
 57  problems_StonesMetalGratesTrunkOther                                39686 non-null  int64
 58  problems_StonesMetalGratesWiresRopeTrunkLightsBranchLights          39686 non-null  int64
 59  problems_StonesRootOther                                            39686 non-null  int64
 60  problems_StonesRootOtherBranchLights                                39686 non-null  int64
 61  problems_StonesRootOtherBranchLightsBranchOther                     39686 non-null  int64
 62  problems_StonesRootOtherBranchOther                                 39686 non-null  int64
 63  problems_StonesRootOtherTrunkOther                                  39686 non-null  int64
 64  problems_StonesRootOtherTrunkOtherBranchLights                      39686 non-null  int64
 65  problems_StonesRootOtherTrunkOtherBranchOther                       39686 non-null  int64
 66  problems_StonesRootOtherWiresRopeBranchLights                       39686 non-null  int64
 67  problems_StonesRootOtherWiresRopeBranchOther                        39686 non-null  int64
 68  problems_StonesRootOtherWiresRopeTrunkOtherBranchLightsBranchOther  39686 non-null  int64
 69  problems_StonesSneakers                                             39686 non-null  int64
 70  problems_StonesTrunkLightsBranchLights                              39686 non-null  int64
 71  problems_StonesTrunkOther                                           39686 non-null  int64
 72  problems_StonesTrunkOtherBranchLights                               39686 non-null  int64
 73  problems_StonesTrunkOtherBranchLightsBranchOther                    39686 non-null  int64
 74  problems_StonesTrunkOtherBranchOther                                39686 non-null  int64
 75  problems_StonesWiresRope                                            39686 non-null  int64
 76  problems_StonesWiresRopeBranchLights                                39686 non-null  int64
 77  problems_StonesWiresRopeBranchLightsBranchOther                     39686 non-null  int64
 78  problems_StonesWiresRopeBranchOther                                 39686 non-null  int64
 79  problems_StonesWiresRopeTrunkLightsBranchLights                     39686 non-null  int64
 80  problems_StonesWiresRopeTrunkOther                                  39686 non-null  int64
 81  problems_StonesWiresRopeTrunkOtherBranchLights                      39686 non-null  int64
 82  problems_TrunkLights                                                39686 non-null  int64
 83  problems_TrunkLightsBranchLights                                    39686 non-null  int64
 84  problems_TrunkLightsBranchLightsBranchOther                         39686 non-null  int64
 85  problems_TrunkOther                                                 39686 non-null  int64
 86  problems_TrunkOtherBranchLights                                     39686 non-null  int64
 87  problems_TrunkOtherBranchLightsBranchOther                          39686 non-null  int64
 88  problems_TrunkOtherBranchOther                                      39686 non-null  int64
 89  problems_WiresRope                                                  39686 non-null  int64
 90  problems_WiresRopeBranchLights                                      39686 non-null  int64
 91  problems_WiresRopeBranchOther                                       39686 non-null  int64
 92  problems_WiresRopeTrunkLights                                       39686 non-null  int64
 93  problems_WiresRopeTrunkLightsBranchLights                           39686 non-null  int64
 94  problems_WiresRopeTrunkOther                                        39686 non-null  int64
 95  problems_WiresRopeTrunkOtherBranchLightsBranchOther                 39686 non-null  int64
 96  problems_WiresRopeTrunkOtherBranchOther                             39686 non-null  int64
dtypes: float64(1), int32(2), int64(94)
memory usage: 30.4 MB

In [172]:
df_3 = df_1.drop(["borocode","guards_Harmful","guards_Helpful","guards_Unsure","curb_loc_OffsetFromCurb","curb_loc_OnCurb"], axis=1)

In [173]:
data3_train = df_3[:len(train)]
data3_test = df_3[len(train):].drop(["health"], axis=1)

In [174]:
y3_train = data3_train["health"]
X3_train = data3_train.drop(["health"], axis=1)
X3_test = data3_test

In [175]:
#ランダムフォレストのパラメータ指定（デフォルト）
clf = RandomForestClassifier()
clf.fit(X3_train, y3_train)
y3_test = clf.predict(X3_test)

In [176]:
result3 = pd.DataFrame({"Unnamed: 0": test["Unnamed: 0"], "health": y3_test})

In [177]:
result3["health"] = result3["health"].astype(int)
result3.to_csv("/SMBC-GREEN-DATA-Challenge/data/submission5.csv", index=False, header=False)

result3.head()

   Unnamed: 0  health
0       19984       1
1       19985       1
2       19986       1
3       19987       1
4       19988       1

In [178]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

# ランダムフォレストモデルの訓練
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X3_train, y3_train)

# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X3_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.20449589820224087
boro_ct: 0.2546716693769883
cb_num: 0.05465041491828638
st_senate: 0.04630527540468209
st_assem: 0.07514872801304101
cncldist: 0.05643841231716665
steward_1or2: 0.007735263000522127
steward_3or4: 0.010639656270961481
steward_4orMore: 0.001187789979167855
steward_Unsure: 0.011379612420646312
sidewalk_Damage: 0.024525089419345315
sidewalk_NoDamage: 0.023749034544368098
user_type_NYC Parks Staff: 0.01985784133724383
user_type_TreesCount Staff: 0.020535895468763804
user_type_Volunteer: 0.02245629691907955
year: 0.0305766376428001
month: 0.1356464847646962

In [170]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

# ランダムフォレストモデルの訓練
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X1_train, y1_train)

# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X1_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.19034663687060369
borocode: 0.0018383790605689683
boro_ct: 0.2400714179877808
cb_num: 0.05549923051355023
st_senate: 0.048008128663152336
st_assem: 0.0770555712493055
cncldist: 0.058712229075958154
steward_1or2: 0.013873040621814433
steward_3or4: 0.011281410755096052
steward_4orMore: 0.0013608372031771122
steward_Unsure: 0.014239093579296471
guards_Harmful: 0.0039760826760815654
guards_Helpful: 0.004313095336748214
guards_Unsure: 0.004240624563309061
curb_loc_OffsetFromCurb: 0.010086816973360788
curb_loc_OnCurb: 0.010006722116365923
sidewalk_Damage: 0.020010416275608758
sidewalk_NoDamage: 0.019798060158334158
user_type_NYC Parks Staff: 0.019508898143384627
user_type_TreesCount Staff: 0.021524702000468403
user_type_Volunteer: 0.022528443696976944
year: 0.02882724138199229
month: 0.1228929210970654

borocode,guards いらない

In [171]:
# ランダムフォレストモデルの訓練
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X2_train, y2_train)

# 特徴量の重要度の取得
feature_importances = model.feature_importances_
print("各特徴量の重要度:")
for feature, importance in zip(X2_train.columns, feature_importances):
    print(f"{feature}: {importance}")

各特徴量の重要度:
tree_dbh: 0.1657731532876921
borocode: 0.0025061629585079823
boro_ct: 0.2038813184562993
cb_num: 0.05188894441775943
st_senate: 0.0449269160833171
st_assem: 0.07105308446900532
cncldist: 0.05473516391107302
steward_1or2: 0.011909638999731203
steward_3or4: 0.009618855527864826
steward_4orMore: 0.0012151532225087504
steward_Unsure: 0.01212378541815937
guards_Harmful: 0.0031020306668537857
guards_Helpful: 0.003095155012456538
guards_Unsure: 0.0033055965632360395
curb_loc_OffsetFromCurb: 0.008809548966742055
curb_loc_OnCurb: 0.008946998348311787
sidewalk_Damage: 0.016265292805730164
sidewalk_NoDamage: 0.015901120085249097
user_type_NYC Parks Staff: 0.017783235035950827
user_type_TreesCount Staff: 0.019343317382924143
user_type_Volunteer: 0.019788678809579713
year: 0.02382541126750074
month: 0.1046192555088111
problems_BranchLights: 0.010491955720723731
problems_BranchLightsBranchOther: 0.000848040826629758
problems_BranchOther: 0.0055726986002477595
problems_MetalGrates: 0.002392614789624095
problems_MetalGratesBranchOther: 0.000892002020682912
problems_MetalGratesRootOtherBranchOther: 0.000918611357728125
problems_MetalGratesRootOtherTrunkOther: 0.0009357470037980506
problems_MetalGratesTrunkOther: 0.0008056551537523042
problems_MetalGratesTrunkOtherBranchOther: 0.000998534333453663
problems_MetalGratesWiresRope: 0.0010326077513600344
problems_RootOther: 0.00538935105111383
problems_RootOtherBranchLights: 0.0013722590880422376
problems_RootOtherBranchLightsBranchOther: 0.00028568402240651986
problems_RootOtherBranchOther: 0.0015246916039644703
problems_RootOtherTrunkLightsBranchOther: 0.0013655616648034984
problems_RootOtherTrunkOther: 0.002666425151924727
problems_RootOtherTrunkOtherBranchLights: 0.000877513910763987
problems_RootOtherTrunkOtherBranchLightsBranchOther: 0.0004661893383093542
problems_RootOtherTrunkOtherBranchOther: 0.00323476482361991
problems_RootOtherWiresRope: 0.000828423349904256
problems_RootOtherWiresRopeBranchLights: 0.0008356255696351163
problems_RootOtherWiresRopeBranchLightsBranchOther: 0.0012904761631917496
problems_RootOtherWiresRopeBranchOther: 0.0010624346995034444
problems_RootOtherWiresRopeTrunkLights: 0.0004127999034049791
problems_RootOtherWiresRopeTrunkOther: 0.0012147252597421252
problems_RootOtherWiresRopeTrunkOtherBranchLights: 0.0003952168712497315
problems_RootOtherWiresRopeTrunkOtherBranchOther: 0.0012615459800384712
problems_Stones: 0.012984675520857724
problems_StonesBranchLights: 0.006515204107273771
problems_StonesBranchLightsBranchOther: 0.001202979371762109
problems_StonesBranchOther: 0.002982580451752442
problems_StonesMetalGrates: 0.0004804296494491588
problems_StonesMetalGratesBranchLights: 0.000736521163647448
problems_StonesMetalGratesTrunkOther: 0.0005333555636813083
problems_StonesMetalGratesWiresRopeTrunkLightsBranchLights: 0.0007431105302648879
problems_StonesRootOther: 0.004372097142830152
problems_StonesRootOtherBranchLights: 0.0005287266171969364
problems_StonesRootOtherBranchLightsBranchOther: 0.0007611313430358567
problems_StonesRootOtherBranchOther: 0.0018801593289785444
problems_StonesRootOtherTrunkOther: 0.0025092097164467132
problems_StonesRootOtherTrunkOtherBranchLights: 0.0008510757793568104
problems_StonesRootOtherTrunkOtherBranchOther: 0.0007849590102837465
problems_StonesRootOtherWiresRopeBranchLights: 0.0018674598032890621
problems_StonesRootOtherWiresRopeBranchOther: 0.0003475320524728422
problems_StonesRootOtherWiresRopeTrunkOtherBranchLightsBranchOther: 0.000414604716785374
problems_StonesSneakers: 0.00026928642340527014
problems_StonesTrunkLightsBranchLights: 0.00029211716900701617
problems_StonesTrunkOther: 0.004120125421234383
problems_StonesTrunkOtherBranchLights: 0.0007088476537042549
problems_StonesTrunkOtherBranchLightsBranchOther: 0.0005035694817111805
problems_StonesTrunkOtherBranchOther: 0.002132072790687452
problems_StonesWiresRope: 0.0009035059300845607
problems_StonesWiresRopeBranchLights: 0.004268413378966923
problems_StonesWiresRopeBranchLightsBranchOther: 0.0008630581410166239
problems_StonesWiresRopeBranchOther: 0.0003999591228843781
problems_StonesWiresRopeTrunkLightsBranchLights: 0.001248223765019918
problems_StonesWiresRopeTrunkOther: 0.00019978027114241786
problems_StonesWiresRopeTrunkOtherBranchLights: 0.0007084171318841466
problems_TrunkLights: 0.0005466200965763615
problems_TrunkLightsBranchLights: 0.0010435780103095528
problems_TrunkLightsBranchLightsBranchOther: 0.00035740404347838763
problems_TrunkOther: 0.004421715872171192
problems_TrunkOtherBranchLights: 0.0009277419537473162
problems_TrunkOtherBranchLightsBranchOther: 0.0004894580144941931
problems_TrunkOtherBranchOther: 0.002026110662125696
problems_WiresRope: 0.003405939101743139
problems_WiresRopeBranchLights: 0.0022416037198653067
problems_WiresRopeBranchOther: 0.0007343949924649889
problems_WiresRopeTrunkLights: 0.000783547306741834
problems_WiresRopeTrunkLightsBranchLights: 0.00020875782078173084
problems_WiresRopeTrunkOther: 0.0003120614302947602
problems_WiresRopeTrunkOtherBranchLightsBranchOther: 0.0009908157166828215
problems_WiresRopeTrunkOtherBranchOther: 0.0006070894935261891

borocode,guards いらない
curb_locもいらない